<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../../dist/output.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
	<form action="login.php" method="post">
		<h1>User login</h1>
		<div class="form-control">
			<label for="username">Username</label>
			<input type="email" name="username" id="username">
		</div>
		<div class="form-control">
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
		</div>
		<input type="submit" name="submit"  value="Login">
	</form>
</body>
</html>